<section id="contact" class="section-padding">    
  <div class="container">
    <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
      <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="contact-block">
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                  <div class="help-block with-errors"></div>
                </div>                                 
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div> 
              </div>
               <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group"> 
                  <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button">
                  <button class="btn btn-common" id="form-submit" type="submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div> 
                  <div class="clearfix"></div> 
                </div>
              </div>
            </div>            
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="contact-right-area wow fadeIn">
          <div class="contact-title">
            <h1>We're a friendly bunch..</h1>
            <p>We create projects for companies and startups with a passion for quality</p>
          </div>
          <h2>Contact Us</h2>
          <div class="contact-right">
            <div class="single-contact">
              <div class="contact-icon">
                <i class="lni-map-marker"></i>
              </div>
              <p>ADDRESS: scarborough, Canada</p>
            </div>
            <div class="single-contact">
              <div class="contact-icon">
                <i class="lni-envelope"></i>
              </div>
              <p><a href="#">Email:  </a></p>
            </div>
            <div class="single-contact">
              <div class="contact-icon">
                <i class="lni-phone-handset"></i>
              </div>
              <p><a href="#">Phone:  +14379299203</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<!-- Contact Section End -->

<!-- Copyright Section Start -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-xs-12">
        <div class="footer-logo">
          <img src="assets/img/logo.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">     
        <div class="social-icon text-center">
          <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
          <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
          <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
          <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-xs-12">
        <p class="float-right">Designed and Developed by <a href="http://bittechnologies.com" rel="nofollow">UIdeck</a></p>
      </div> 
    </div>
  </div>
</div>